[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-marshmallow = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Cors = "*"
Flask-Bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
